.NewListForm {
    padding: 1em; 
    background: #f0f0f0;
    border: 1px solid #c1c1c1; 
    border-radius: 3%;
}

.listInput {
    height: 36px;
    border-radius: 7%;
}

.ButtonNewLIstContainer {
    margin-top: 4%;
    padding: 1em; 
    background: #f0f0f0;
    border: 1px solid #c1c1c1; 
    border-radius: 3%;
}

.buttonListcreate {
    margin-left: 5%;

    margin-right: 30%;
    color: #090909;
    padding: 0.4em 1.7em;
    font-size: 100%;
    border-radius: 10%;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    transition: all .3s;
   }
   
   .buttonListcreate:hover {
    border: 1px solid white;
   }
   
   .buttonListcreate:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }